.listHeader {
  padding-right: 4px !important;
}

.listTitle {
  background-color: transparent;
  border: none;
  padding: 3px 0px;
  margin: -3px 0px;
  height: 24px;
  width: 100%;
  font-weight: 700;
  -webkit-appearance: none;
  position: relative;
  z-index: 1;
}

.selectIcon {
  padding: 4px;
}

.selectIcon span:before {
  content: '\25BE' !important;
}
